<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="the star app android test suite" preserve-order="true">
    <listeners>

    </listeners>
    <test name="Android Test">
        <parameter name="username" value="1442830" />
        <parameter name="password" value="star2468" />
        <classes>
            <class name="tests.TheStarAppTest">
                <methods>
                    <include name="loginTest" />
                    <include name="logoutTest" />
                    <include name="checkMemeberTierPointsTest" />
                    <include name="checkCasinoDollarsTest" />
                    <include name="checkCustomerEmailTest" />
                    <include name="checkProgramInformationTest" />
                    <include name="checkCustomerInfoTest" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
